.basic-data {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    color: white;
    padding: 20px;
    justify-content: space-evenly;
    
    background-color:rgb(40, 45, 63);
    border-radius: 10px;
    margin: 10px;
}
@media only screen and (max-width: 800px) {
    .basic-data {
        display: grid;
        grid-template-rows: 50%;
    }
    .text {
        width: 50%;
        position: relative;
        left: 20%;
    }
    .img {
        width: 100px;
    }
  }

.img {
    width: 30rem;
}

.description {
    background-color:rgb(40, 45, 63);
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
}

.ytIcon {
    color: red;
}
.twitterIcon {
    columns: #1DA1F2;
}